.moves {
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  // align-items: center
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  padding: 0 5px;
  position: relative;
  
  &__item {
    background: $white;
    margin: 10px 5px;
    flex: 1;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
  }
}