.round {
  &__title {
    margin-bottom: .5em;
    position: absolute;
    padding: $gutter;
    font-size: type-size(6);
    top: 0;
    left: 0;
    pointer-events: none;
    font-weight: $font-weight-normal;
    line-height: 1;

    &--right {
      left: auto;
      right: 0;
    }
  }
}